.place__title {
  margin: 0;
  font-weight: 900;
}

@media screen and (min-width: 320px) {
  .place__title {
    grid-area: 1/1/1/1;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 32px 16px;
  }
}

@media screen and (min-width: 768px) {
  .place__title {
    grid-area: 1/1/3/1;
    font-size: 42px;
    margin-bottom: 48px;
    width: 96%;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 1.056;
  }
}



