@media screen and (max-width: 767.5px) {
  .main__intro {
    margin: 0 16px 64px;
  }
}

@media screen and (min-width: 768px) {
  .main__intro {
    margin: 0 24px 88px;
  }
}

@media screen and (min-width: 1024px) {
  .main__intro {
    margin: 0 0 92px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .main__intro {
    margin-left: 148px;
  }
}