@media screen and (max-width: 767.5px) {
  .page__header {
    margin: 16px auto 48px;
  }
}

@media screen and (min-width: 768px) {
  .page__header {
    margin: 28px auto 48px;
  }
}

@media screen and (min-width: 1280px) {
  .page__header{
    margin-bottom: 74px;
  }
}