.header {
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 767.5px) {
  .header {
    width: 90%;
    min-height: 42px;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 93.75%;
  }
}


@media screen and (min-width: 1024px) {
  .header {
    width: 90.6%;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1184px;
  }
}