@media screen and (min-width: 320px) {
  .intro_margin-for-travel-russia {
    margin: 0 16px 64px;
  }
}

@media screen and (min-width: 768px) {
  .intro_margin-for-travel-russia {
    margin: 0 24px 88px;
  }
}

@media screen and (min-width: 1024px) {
  .intro_margin-for-travel-russia {
    margin: 0 0 92px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro_margin-for-travel-russia {
    margin-left: 148px;
  }
}