.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica';
  font-style: normal;
  
}
 
.cover:hover .cover__background::after{
    opacity: .8;
}

@media screen and (max-width: 429.5px) {
  .cover {
    min-height: 63vmin;
    min-width: 320px;
  }
}

@media screen and (min-width: 430px) and (max-width: 1279.5px) {
  .cover {
    min-height: 63vmax;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    max-height: 740px;
  }
}