.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica';
  font-style: normal;
  width: 100%;
  
}

.cover::after {
  position: absolute;
  top: 0;
  background-image: url(../../images/cover/cover-train-hub.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: ' ';
  height: 100%;
  width: 100%;
  display: block;
  opacity: .7;
  background-color: #2A2C2F;
  transition: opacity .9s linear;
}

.cover:hover::after{
    opacity: .2;
}

@media screen and (max-width: 429.5px){
  .cover {
    max-width: 320px;
  }
}

@media screen and (min-width: 430px) and (max-width: 653.5px) {
  .cover {
    max-width: 430px;
  }
}

@media screen and (min-width: 654px) and (max-width: 767.5px) {
  .cover {
    max-width: 654px;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    max-width: 1024px
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
  }
}