.cover__background {
  position: absolute;
  top: 0;
  background-image: url(../../../images/cover/cover-train-hub.png);
  background-size: contain;
  background-repeat: round;
  width: 100%;
  height: 100%;
}

.cover__background::after {
    content: ' ';
    height: 100%;
    width: 100%;
    display: block;
    opacity: .3;
    background-color: #2A2C2F;
    transition: opacity .9s linear;
}