@import url(../../fonts/Inter/inter.css);

.place {
  font-family: 'Inter';
  color: #fff;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 320px) {
  .place {
    grid-template-columns: minmax(min-content, max-content);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: min-content 49.3%;
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    column-gap: 32px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    column-gap: 40px;
    margin-bottom: 90px;
  }
}