.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Inter', 'Arial', 'Helvetica';
}

@media screen and (max-width: 767.5px) {
  .footer {
    width: 58.1%;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 93.75%;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 90.6%;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}