.place__website {
  align-self: end;
  /* grid-area: 2/2/2/2; */

}

@media screen and (min-width: 320px) {
  .place__website {
    grid-area: 2/1/2/1;
    margin: 0 0 32px 16px;
  }
}

@media screen and (min-width: 768px) {
  .place__website {
    grid-area: 2/2/2/2;
    margin-bottom: 48px;
  }
}